*{
    border: 2px solid brown;
  }
  #anime{
    margin-left: 50%;
    border-radius: 3px;
    border: none;
  }
  .hobbies{
   font-weight: bold;
   padding: 0%;
   border: none;
  }
  #cr7{
    margin-left: 50%;
    border-radius: 3px;
    border: none;
  }
  #cutegirl{
    margin-left: 50%;
    border-radius: 3px;
    border: none;
  }